#headerNavMenuContent h2 {
  font-size: 17px;
  font-weight: normal;
  padding: 10px;
}
#form{
  width: 100%;
}
#form #s-box{
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-radius: 0;
  padding-left: 10px;
}
#mobileMenu{
  width: 100%;
  background: #FFF;
}

#mobileMenu h3{
  width: 100%;
  font-size: 15px;
  padding: 20px 15px;
  border-top: solid 1px #EEE;
  margin: 0;
  font-weight: normal;
}
#mobileMenu h3:last-child{
  border-bottom: solid 1px #EEE;
}
#mobileMenu h3::after{
  content: "\f107";
  font-family: FontAwesome;
  margin: 10px;
}
#mobileMenu .mobileMenuContent{
  width: 100%;
  display: none;
}
#mobileMenu .mobileMenuContent.display{
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
}
#mobileMenu .mobileMenuContent div{
  width: 50%;
  height: 50px;
  border: solid 1px #EEE;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
